[Unit]
Description=Xtigervnc service (VNC)
After=syslog.target network.target

[Service]
Type=forking
User=taris
Group=taris
WorkingDirectory=/home/taris
PAMName=login
PIDFile=/home/%u/.vnc/%H%i.pid
ExecStartPre=/bin/sh -c '/usr/bin/vncserver -kill :%i > /dev/null 2>&1 || :'
ExecStart=/usr/bin/vncserver :%i -useold -geometry 1280x900 -depth 24 -dpi 96 -localhost no
ExecStop=/usr/bin/vncserver -kill :%i

[Install]
WantedBy=multi-user.target

