[Unit]
Description=LM Studio Server
After=network.target

[Service]
Type=oneshot
User=taris
RemainAfterExit=yes
Environment="HOME=/home/taris"
ExecStartPre=/home/taris/.lmstudio/bin/lms daemon up
ExecStartPre=/home/taris/.lmstudio/bin/lms load google/gemma-4-26b-a4b-qat --context-length 262144 --yes 
ExecStart=/home/taris/.lmstudio/bin/lms server start
ExecStop=/home/taris/.lmstudio/bin/lms daemon down

[Install]
WantedBy=multi-user.target
